<!DOCTYPE html>
<html>

<head>
  <title>前端分享会排期安排表</title>
  <meta charset="UTF-8" />
  <!--<script src="https://unpkg.com/vue"></script>-->

  <!-- 开发环境版本，包含了用帮助的命令行警告 -->
  <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
  <script src="./vue.js"></script>

  <!-- 生产环境版本，优化了尺寸和速度 -->
  <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
  <!--<script src="vue.min.js"></script>-->

  <link rel="shortcut icon" type="image/x-icon" href="imgs/logo.png" />
  <link rel="stylesheet" href="./css/style.css">
  <script src="./js/controller.js"></script>
</head>

<body>
  <div id="app">
    <main>
      <p class="table-header">前端分享会排期安排表<span>  ----中天智慧</span></p>
      <table>
        <tr v-for="lesson in lessonList">
          <td v-for="item in lesson">{{item}}</td>
        </tr>
        <tr>
          <td colspan="6">
            <p>1. 时间一般为周三下班后6:00-8:00内，如遇意外情况，可以后延至周四，周四上线顺延一周；</p>
            <p>2. 每次分享会组内增添积分10分；</p>
            <p>3. 负责人提前一周（周五以前）告知下周分享内容，如果有人已预定，则顺延一周；</p>
            <p>4. 每5次分享会后举办一次茶话会，大家自由交谈，可与技术无关，也可请设计组或其他组分享；</p>
            <p>5. 每三个月举办一次总结会，用于阶段总结、分组重编、积分排名以及奖品发放等；</p>
            <p>6. 分享会的培训文档在会后统一发一份给唐林/向丽茹作为保管。</p>
          </td>
        </tr>
      </table>
    </main>
    <footer>
      <p class="f-12">
        {{ desc }}，<a class="f-12" target="_blank" v-bind:href="url">建站过程记录</a> ，
        {{gitMsg.desc}}，<a class="f-12" target="_blank" :href="gitMsg.url">github 项目与本地项目关联</a>
      </p>
    </footer>

  </div>
</body>

</html>