<!DOCTYPE html>
<html>

<head>
  <title>前端分享会排期安排表</title>
  <meta charset="UTF-8" />
  <!--<script src="https://unpkg.com/vue"></script>-->

  <!-- 开发环境版本，包含了用帮助的命令行警告 -->
  <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
  <script src="./vue.js"></script>

  <!-- 生产环境版本，优化了尺寸和速度 -->
  <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
  <!--<script src="vue.min.js"></script>-->

  <link rel="shortcut icon" type="image/x-icon" href="imgs/logo.png" />
  <link rel="stylesheet" href="./css/style.css">
  <script src="./js/controller.js"></script>
</head>

<body>
  <div id="app">
    <main>
      <p class="table-header">前端分享会排期安排表<span>  ----中天智慧</span></p>
      <table>
        <tr v-for="lesson in lessonList">
          <td v-for="item in lesson">{{item}}</td>
        </tr>
      </table>
    </main>
    <footer>
      <p class="f-12">
        {{ desc }}，<a class="f-12" target="_blank" v-bind:href="url">建站过程记录</a> ，
        {{gitMsg.desc}}，<a class="f-12" target="_blank" :href="gitMsg.url">github 项目与本地项目关联</a>
      </p>
    </footer>

  </div>
</body>

</html>